.a1 {
    background-image: url(./img/istockphoto-22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 800px;

}

.a2 {
    padding-top:  150px;
}

.a3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.c1 {
    font-size: 70px;
    color: rgb(236, 229, 224);
    font-family: 'Young Serif', serif;
    
}
.c2{
    margin-top:200px ;
    padding: 30px;
}
.k1{
    margin-top: 100px;
    padding: 30px;
}
.ath1 {
    height: 500px;
    width: 300px;
    
    
}

.a5 {
    height: 100px;
    width: 100px;

}

.a6 {
    height: 100%;
    width: 100%;

}

.a7 {
    height: 200px;
    width: 100%;
}

.a8 {
    padding-left: 320px;
}

.p1 {
    background-color: rgb(216, 216, 216);
}

body {
    max-width: 100%;
    overflow-x: hidden;
}






@media(max-width:1000px) {
    .a2 {
        padding-top: 60px;
    }

    .a8 {
        padding-left: 100px;
    }
    .c1 {
        font-size: 40px;}

}